[package]
name = "axdrm"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
lazy_static = "1.5"
spin = "0.10"
